*{
    box-sizing: border-box;
    margin: 0%;
}
.parent{
    height: 40vh;
    width: 70vw;
    background-color: whitesmoke;
    border-style: solid;
    margin: auto;
    margin-top: 15%;
}
img{
    width: 120px;
}
.child{
    margin-top: 7%;
    display: flex;
    height: 30%;
    justify-content: space-evenly;
}
.ar{
    height: 20%;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.ar:hover{
    background-color: black;
    color: white;

}
.image{
    display: block;
    justify-content: center;
}
.parent>.child>.ar1:hover~.image>.img {
    transform: translate(50px, 50px);
}

.child > .ar2:hover ~ .image .img {
    transform: rotate(45deg);
}

.child > .ar3:hover ~ .image .img {
    transform: scale(1.5);
}

.child > .ar4:hover ~ .image .img {
    transform: skew(20deg, 10deg);
}